body {
    background-color: blueviolet;
    color: white;
    font-family: 'Nunito', cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center; /* Center text content */
    padding: 20px; /* Add padding to body */
    box-sizing: border-box; /* Ensure padding doesn't increase width */
}

.title {
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px; /* Adjust margin for smaller screens */
    margin-bottom: 0;
}

.button {
    margin-top: 20px;
}

.btn {
    background-color: #FFB6C1;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.gif_container {
    margin-top: 20px; /* Add margin for better spacing */
}
.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#enter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#noButton {
    
    margin: 150px;
    transition: 0.5s;
}

#yesButton {
    margin-right: 150px;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
    body {
        padding: 10px; /* Reduce padding for smaller screens */
    }
    
    .title {
        font-size: 30px; /* Decrease font size for smaller screens */
    }
    
    .btn {
        padding: 10px 20px; /* Adjust button padding for smaller screens */
    }
    
    #noButton {
        
        margin: 20px; /* Adjust margin for smaller screens */
    }
    
    #yesButton {
        margin: 20px; /* Adjust margin for smaller screens */
    }
}
